.margin_perllax{
	margin: 3% 0;
}

.perllax{
	background: url('../img/coupon/c1.png') repeat fixed 100%;
}

.perllax_inner{
	padding: 20px 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.coupon_main{
	height: auto;
	width: 100%;
	background: #efefef;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 10px;
	text-align: center;
}

.coupon_main h1{
	text-transform: capitalize;
	letter-spacing: 1px;
	word-spacing: 1px;
}

.coupon_main input{
	font-weight: 600;
	font-size: 15px;
	padding: 10px;
	border:2px dashed #023048;
	letter-spacing: 1px;
	opacity: 0.8;
	outline: none;
	width: 130px;
}

.coupon_main input:hover{
	opacity: 1;
	transition: all 0.4s;
}

.coupon_main .copy_btn{
	font-size: 15px;
	padding: 10px;
	background: #023048;
	color: #fff;
	border: 2px dashed #023048;
	margin: 10px;
	cursor: pointer;
}

@media (max-width: 450px){
		.perllax_inner{
		padding: 20px 40px;
		display: flex;
		justify-content: center;
		align-items: center;	
	}
	
}